body {
  margin: 0;
  padding: 0;
  color: #444;
  line-height: 150%;
  background: #ecebea;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/*========================================
  リンク
========================================*/

a,
a:active,
a:focus {
  color: #b6a489;
}
a:hover {
  text-decoration: none;
}
/*========================================
  フォント
========================================*/
.num {
  font-family: "Montserrat", sans-serif;
}

.price {
  display: block;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
/*トップバナー*/

#top-baner {
  width: 100%;
}
/*========================================
  ヘッダー
========================================*/
header {
  margin-bottom: 30px;
  width: 100%;
  height: 80px;
  /* background: #333; */
  background: #6699ff;
}

header h1 {
  float: left;
  margin: 0;
  padding-left: 15px;
  text-align: center;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  line-height: 80px;
}

header h1 a {
  /* color: #b6a489; */
  color: #fff;
  text-decoration: none;
}
/*========================================
  ナビゲーション
========================================*/
#top-nav {
  position: relative;
  float: right;
  width: 500px;
  height: 90px;
}

nav a {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

nav a:hover {
  text-decoration: underline;
}

#top-nav ul {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 450px;
  height: 80px;
  list-style: none;
  line-height: 80px;
}

#top-nav ul li {
  float: right;
}
/*========================================
  レイアウト
========================================*/

.site-width {
  margin: 0 auto;
  width: 980px;
}

#main {
  float: left;
  min-height: 600px;
}

.page-1colum #main {
  width: 100%;
}

.page-2colum #main {
  width: 760px;
}
.page-logined #main {
  box-sizing: border-box;
  /* border: 5px solid #f1f1f1; */
}

section h1.title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#contents {
  overflow: hidden;
  margin: 20px auto;
}
/* ページタイトル */

.page-title {
  margin-bottom: 50px;
  padding-top: 20px; /* Lesson14にて追加 */
  text-align: center;
  font-size: 32px;
}
/*========================================
  サイドバー
========================================*/

#sidebar {
  float: left;
  box-sizing: border-box;
  margin-right: 20px;
  padding: 15px 0 0 30px;
  min-height: 600px;
  width: 200px;
  background: #fff;
}

#sidebar .title {
  text-align: left;
  font-size: 14px;
}

#sidebar .selectbox {
  position: relative;
}

#sidebar select {
  padding: 10px;
  width: 100%;
  border-color: #ccc;
  border-radius: 0;
  font-size: 14px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#sidebar .icn_select:after {
  position: absolute;
  top: 15px;
  right: 10px;
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid #333;
  border-right: 7px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 7px solid transparent;
  content: "";
}
.page-logined #sidebar {
  margin: 0 0 0 20px;
}
.page-logined #sidebar > a {
  display: block;
  margin-bottom: 15px;
}

/*========================================
  フッター
========================================*/

footer {
  padding: 15px;
  width: 100%;
  background: #333;
  color: #f6f5f5;
  text-align: center;
  font-size: 12px;
}

footer a {
  color: #f6f5f5;
}
/*contact*/

#contact {
  margin-bottom: 150px;
}


.list-table > table {
  width: 100%;
  border-spacing: 0 5px;
}

.list-table th,
.list-table td {
  padding: 5px;
}

.list-table > .table > tbody td {
  border-right: none;
  background: #f6f5f4;
}
/*========================================
  ボタン
========================================*/

.btn {
  padding: 15px 20px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.btn.btn-primary {
  /* background: #b6a489; */
  background: #333333;
  color: white;
}

.btn.btn-mid {
  max-width: 150px;
}
/*========================================
  フォーム
========================================*/
label {
  display: block;
}

label.err input {
  background: #f7dcd9;
}
input[type="text"],
input[type="password"],
input[type="number"],
.form select,
textarea {
  display: block;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  height: 60px;
  border: none;
  background: #f6f5f5;
  font-size: 18px;
}
input[type="checkbox"] {
  width: 18px;
  height: 18px;
  background: #f6f5f5;
  vertical-align: middle;
}
input[type="number"] {
  width: 100px;
  text-align: left;
}
input[type="submit"] {
  margin: 15px 0;
  padding: 15px 30px;
  width: 100%;
  border: none;
  background: #333;
  color: white;
  font-size: 14px;
}

select:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

.form-container {
  margin: 0 auto;
}
.page-1colum .form-container {
  margin: 20px auto;
}

.form {
  margin: 0 auto;
  padding: 30px;
  width: 400px;
  border: 5px solid #f1f1f1;
  background: #fff;
}
.page-logined .form {
  border: none;
}

.form .title {
  margin-bottom: 40px;
  text-align: center;
}
.form > .area-msg {
  padding: 0 0 15px 0;
  color: red;
}

.form .btn-container {
  overflow: hidden;
}

.form .btn {
  float: right;
  margin-right: 3px;
}
.form .area-drop {
  margin-bottom: 15px;
  width: 100%;
  height: 250px;
  background: #f6f5f4;
  color: #ccc;
  text-align: center;
  line-height: 250px;
}
.form .counter-text {
  text-align: right;
}
/* フォームグループ
=================================*/
.form-group {
  position: relative;
  overflow: hidden;
}
.form-group > input {
  float: left;
}
.form-group > .option {
  position: relative;
  top: 40px;
  display: block;
  float: left;
  padding-left: 10px;
}

/*========================================
  その他
========================================*/
.msg-slide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: rgba(243, 178, 178, 0.6);
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}
/*========================================
  memo
========================================*/
.body {
  background: #f6f5f4;
  color: #333;
}
.todo_main {
  width: 400px;
  margin: 0px auto;
}

/* .body {
  background: #f6f5f4;
  color: #333;
}
.main {
  width: 400px;
  margin: 100px auto;
} */
.todo_form {
  text-align: right;
  background: #ECEBEA;
  width:115%;
}
.todo_inputArea {
  margin-bottom: 15px;
}
.inputText {
  padding: 5px;
  height: 40px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  background: #fff !important;
} 

.btn {
  /* padding: 5px 30px;
  background: #000;
  color: #fff;
  border: none;
  text-align: right;
  margin: 0;
  font-size: 16px; */
}

.btn.todo_b{
  padding: 5px 30px;
  background: #000;
  color: #fff;
  border: none;
  text-align: right;
  margin: 0;
  font-size: 16px;
}
.btn:hover {
  cursor: pointer;
} 
.error {
  display: none;
  color: #e9573e;
}
.searchBox {
  width: 115%;
  height: 80px;
  border: 1px solid #e8e8e8;
  border-radius: 50px;
  margin: 50px 0px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px 0 10px;
  box-sizing: border-box;
}
.searchBox__icon {
  width: 16px;
  font-size: 18px;
  margin-right: 5px;
}
.searchBox__input {
  width: calc(100% - 30px) !important;
  height: 70% !important;
  border: none !important;
  box-sizing: border-box !important;
  padding: 5px 10px !important;
  font-size: 16px !important
  margin-top: 5px !important;
  background: #fff !important;;
}
.list {
  list-style: none;
  padding: 0;
  width: 115%;
}
.list__item {
  overflow: hidden;
  padding: 15px 15px;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  transition: 0.5s transform;
}
.list__item:hover {
  transform: scale(1.02);
  transition: 0.5s transform;
}
.list__item--done {
  background: #d8d8d8;
  color: #888;
}
.icon-square,
.icon-check,
.icon-sort,
.icon-trash {
  cursor: pointer;
  transition: 0.5s transform;
}
.icon-square:hover,
.icon-check:hover,
.icon-sort:hover,
.icon-trash:hover {
  transform: scale(1.2);
  transition: 0.5s transform;
}
.icon-trash {
  float: right;
  top: 4px;
  position: relative;
  color: #e9573e;
}
.icon-square,
.icon-check {
  margin-right: 15px;
}
.editText {
  display: none;
  width: 80%;
  height: 100%;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
}
